<div class="container">
  <div class="text-container">
    <div class="text-wrapper-left">
      <div class="text-1 color-1">1. Кто мы ?</div>
      <div class="text-detail-1 team-detail">
        <p>Мы команда энтузиастов/задротов =)</p>
        <p>которые ищут/подбирают/тюнят слова</p>
        <p>очень и не очень известных людей</p>
        <p>и создают из этого песни</p>
      </div>
    </div>
    <div class="text-wrapper-right">
      <div class="text-2 color-2">2. Наша команда:</div>
      <div class="text-detail-1 team-detail">
        <div class="san-about-container">
          <div class="avatar-container">
            <div class="img-container">
              <img src="/assets/about-avatars/san-ava1.jpg" alt="San1" />
            </div>
            <span>San &#8544;</span>
          </div>
          <div>
            <p class="p1">Full Stack JavaScript разработчик.</p>
            <p class="p2">Любитель нестандартных решений.</p>
            <p class="p3">В прошлой жизни музыкант.</p>
            <p class="p4">Сперва подумай, потом делай =)</p>
          </div>
        </div>
        <hr />
        <div class="san-about-container">
          <div class="avatar-container">
            <div class="img-container">
              <img src="/assets/about-avatars/san-ava2.jpg" alt="San1" />
            </div>
            <span>San &#8545;</span>
          </div>
          <div>
            <p class="p1">Саундпродюсер/Композитор/Музыкальный дизайнер</p>
            <p class="p2">Уши - мое все.</p>
            <p class="p3">Песню играть – не поле пахать.</p>
            <p class="p4">Какая жизнь, такие и песни =)</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-wrapper-left">
      <div class="text-1 color-3">3. Как мы это делаем ?</div>
      <div class="text-detail-1 team-detail">
        <p>Просто, берем и делаем =)</p>
        <p>to be continued...</p>
      </div>
    </div>
  </div>
</div>
