* {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 767px) {
  input,
  select,
  textarea {
    font-size: 16px;
  }
}

.mat-tab-header {
  margin-bottom: 25px;
}

.profile-container {
  & .mat-tab-labels {
    flex-direction: column;
  }

  & .mat-tab-body-content {
    width: 800px;
  }
}

.navbar-header .mat-mini-fab .mat-button-wrapper {
  padding: 0;
}

a {
  text-decoration: unset;
}

.error-notification {
  background-color: darkred;
  color: white;
}

.mat-expansion-panel-header-description, .mat-expansion-indicator::after {
  color: rgba(251, 251, 251, 0.54);
}

.confirmation-delete-modal {
  border: 3px solid red;
  border-radius: 5px;
}

.ngx-datatable {
  .datatable-footer-inner {
    display: flex;
    flex-flow: row nowrap;  // can't wrap because footer height fixed
    justify-content: space-between;  // probably not needed because .page-count flex grows
    > .page-count {
      // remove padding so there's more room in-between
      padding-right: 0 !important;
    }
    > .datatable-pager {
      margin: 0 !important;
      // don't grow, otherwise pager won't be right-aligned
      flex: 0 0 auto !important;
      > .pager {
        // prevent numbers from wrapping
        display: flex !important;
        flex-flow: row nowrap;
      }
    }
  }
}
