* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-tab-header {
  margin-bottom: 25px;
}

.profile-container {
  & .mat-tab-labels {
    flex-direction: column;
  }

  & .mat-tab-body-content {
    width: 800px;
  }
}
