.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 300px;
  min-width: 400px;
}

mat-form-field {
  text-align: center;
  height: 70px;
  min-width: 200px;
}

mat-dialog-actions {
  padding: 15px 0;
}

.user-data {
  display: flex;
  flex-direction: column;
  align-self: self-start;
}
