<div class="container">
  <div class="user-data">
    <small>Пользователь: {{ currentUser.username }}</small>
    <small>Колличество доступных голосов: {{ data.userData.voiceBalance }}</small>
  </div>

  <h3 mat-dialog-title>Отдать голос за песню:</h3>
  <h2>{{ currentSong.songSinger }} - {{ currentSong.songName }}</h2>
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <div mat-dialog-content>
      <mat-form-field>
        <mat-label>Колличество голосов:</mat-label>
        <input matInput min="1" formControlName="inputNumber" [max]="currentUser.voiceBalance" type="number" [value]="currentUser.voiceBalance" />
        <mat-error>
          <p *ngIf="form.get('inputNumber').errors">Колличество Ваших голосов: {{ currentUser.voiceBalance }}.</p>
        </mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close="false" (click)="cancelBtn()">Отмена</button>
      <button mat-raised-button color="accent" type="submit" mat-dialog-close="true" [disabled]="this.form.invalid">
        Проголосовать
      </button>
    </div>
  </form>
</div>
