.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.recovery-card {
  margin-top: 80px;
  width: 400px;
  min-height: 300px;
  padding: 25px;
}
.recovery-text {
  padding-top: 25px;
  padding-bottom: 20px;
}
.button-back {
  display: block;
  text-align: left;
  margin-bottom: 30px;
}
