:host {
  display: flex;
  justify-content: center;
}

.fb-icon {
  color: white;
  font-size: 18px;
  margin-right: 3px;
}

.google-icon {
  color: white;
  font-size: 18px;
  margin-right: 3px;
}

.button-container {
  display: flex;
  flex: 1 0 auto;
  margin-bottom: 15px;
  .fb-button {
    width: 100%;
    background-color: #4267B2;
    color: white;
  }

  .google-button {
    width: 100%;
    background-color: #DB4437;
    color: white;
  }
}

.login-form-or {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 27px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.8px;
  height: 1px;
  background: #d8dfe0;
  text-transform: uppercase;
  color: #002f34;
  span {
    background: #fff;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.registration-button {
  width: 100%;
}

.login-card {
  margin: 50px auto;
  max-width: 400px;
  min-height: 300px;
  padding: 25px;
}

.full-width {
  width: 100%;
}
.stretched-tabs {
  max-width: 800px;
  height: 100%;
}

.mat-card-content {
  overflow: hidden;
}

.form-field {
  margin-top: 10px;
  margin-bottom: 10px;
}

.forgot-password-link {
  display: flex;
  align-self: start;
  cursor: pointer;
  margin-top: 15px;
}

.mat-card-actions {
  margin: 15px 0 0 5px;
}

mat-checkbox {
  margin: 13px;
}
