:host {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: #fff;
}

.navbar-header {
  height: 56px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  background: #3f51b5;
  justify-content: space-between;

  .md-light {
    margin-right: 10px;
  }

  .voices {
    margin-right: 10px;
  }
}

.logo-mini {
  height: 40px;
  vertical-align: middle;
}

.ripple-container {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  background-color: #e9467e;
  border-radius: 5px;
  line-height: 25px;
  vertical-align: middle;
  padding-right: 7px;
  padding-left: 5px;
  margin-left: 5px;
}

.admin-icon {
  color: #18ffff;
}
