:host {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: #fff;
}

.navbar-header {
  min-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: #3f51b5;
  justify-content: space-between;

  .md-light {
    margin-right: 10px;
  }

  .voices {
    margin-right: 10px;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.logo-mini {
  height: 40px;
  vertical-align: middle;
}

.ripple-container {
  margin-left: 5px;
  line-height: 25px;
}

.nav-mat-icon {
  display: none;
}

.admin-icon {
  color: #18ffff;
}

.left-menu {
  display: flex;
  align-items: center;
}

.right-menu {
  display: flex;
  align-items: center;
}

.mobile-voices {
  display: none;
}

@media only screen and (max-width: 825px) {
  .left-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .left-menu .nav-menu,
  .voices {
    display: none;
  }

  .mobile-voices {
    display: block;
  }

  .nav-mat-icon {
    display: block;
  }

  .navbar-header {
    justify-content: center;
    padding: 5px 10px;
  }
}
