<nav class="navbar-header">
  <nav>
    <a mat-button routerLink="/">
      <img src="assets/logo/logo-text.png" alt="SanSan" class="logo-mini" />
    </a>
    <a mat-button routerLink="/polls">Голосование</a>
    <a mat-button routerLink="/about">О Нас</a>
    <a mat-button routerLink="/contacts">Контакты</a>
  </nav>

  <nav>
    <span *ngIf="userData && userData.status" class="voices">
      Мои голоса:
      <div
        class="ripple-container"
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
      >
        {{ userData.voiceBalance }}
      </div>
    </span>
    <button *ngIf="userData && userData.status" mat-button [matMenuTriggerFor]="afterMenu">
      <i class="material-icons md-light" [class.admin-icon]="userData && userData.role === role.Admin">face </i>
      Мой профиль
      <i class="material-icons">
        expand_more
      </i>
    </button>
    <mat-menu #afterMenu="matMenu">
      <button mat-menu-item routerLink="/profile">Профиль пользователя</button>
      <button mat-menu-item routerLink="/profile/history">Моя история</button>
      <button mat-menu-item routerLink="/profile/polls-history">История голосований</button>
      <button mat-menu-item routerLink="/profile/password">Изменить пароль</button>
      <button mat-menu-item (click)="logout()">Выйти</button>
      <button mat-menu-item *ngIf="userData && userData.role === role.Admin" routerLink="/san-admin">
        <mat-icon color="primary">admin_panel_settings</mat-icon>
      </button>
    </mat-menu>
    <a *ngIf="!userData" mat-button routerLink="/login">Авторизация</a>
  </nav>
</nav>
