:host {
  width: 100%;
}

.comments-title {
  margin-top: 15px;
  margin-bottom: 40px;
  text-align: left;
}

ul {
  list-style: none;
  text-align: left;
  li {
    margin-bottom: 20px;
    small {
      color: #888888;
    }
  }
}

@media only screen and (max-width: 825px) {
  .comment-list-container {
    padding-inline-start: unset;
  }
}
