<h3 class="comments-title">Комментарии:</h3>
<san-textarea-form [isAuth]="!!currentUser" (addComment)="addComment.emit($event)"></san-textarea-form>
<ul class="comment-list-container">
  <li *ngFor="let comment of comments; let i = index">
    <san-comment
      [currentUser]="currentUser"
      (addReplyComment)="callAddReplyComment($event, comment.id, i)"
      [comment]="comment"
      (likeEvent)="callLikeComment($event, i)"
      (editComment)="this.editComment.emit($event)"
      (deleteComment)="this.callDeleteComment($event)"
    ></san-comment>
    <div *ngIf="comment.childCommentsCount > 0 || comment?.childComments?.length > 0">
      <button
        mat-button
        *ngIf="!comment?.childLoaderFlag && !comment?.childComments"
        (click)="
          this.callLoadChildComments({
            commentId: comment.id,
            index: i
          })
        "
      >
        Ответы ({{ comment.childCommentsCount }})
      </button>
      <mat-progress-bar *ngIf="comment?.childLoaderFlag" mode="indeterminate"></mat-progress-bar>
      <ng-container *ngIf="comment?.childComments?.length > 0">
        <ul>
          <li *ngFor="let childComment of comment?.childComments; let childI = index" class="comment-container">
            <san-comment
              [currentUser]="currentUser"
              (addReplyComment)="callAddReplyComment($event, comment.id, i)"
              [comment]="childComment"
              (likeEvent)="callLikeChildComment($event, i, childI)"
              (editComment)="editChildComment.emit($event)"
              (deleteComment)="callDeleteChildComment($event, i, childI)"
            ></san-comment>
          </li>
        </ul>
      </ng-container>
    </div>
  </li>
</ul>
