:host {
  max-width: 500px;
  min-width: 200px;
  width: 100%;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.polls-history-card {
  margin: 25px auto 25px;
  width: 500px;
  min-height: 300px;
  padding: 25px;
  background: transparent;
  box-shadow: none;
}

.text {
  padding-top: 25px;
  padding-bottom: 20px;
}
