<div class="container">
  <ngx-datatable
    class="material"
    [style.height.vh]="100"
    [rows]="rows"
    [columnMode]="'flex'"
    [headerHeight]="headerHeight"
    [rowHeight]="rowHeight"
    [loadingIndicator]="isLoading"
    [scrollbarV]="true"
    (scroll)="onScroll($event.offsetY)"
  >
    <ngx-datatable-column name="Место" prop="rowIndex" [flexGrow]="0.8">
      <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
        <span>{{ rowIndex + 1 }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Кто исполнит" prop="author" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span class="poll-link" [routerLink]="['/poll', row.uuid]">{{ row.author }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Песня (Автор)" prop="name" [flexGrow]="3">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span class="poll-link" [routerLink]="['/poll', row.uuid]">{{ row.name }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Голоса" prop="votesCount" [flexGrow]="0.8">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span class="poll-link" [routerLink]="['/poll', row.uuid]">{{ row.votesCount }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Проголосовать" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a class="poll-button" mat-raised-button color="accent" [routerLink]="['/poll', row.uuid]">Проголосовать</a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
