.place-column {
  width: 10px;
}
.poll-link:hover {
  outline: none;
}

.poll-button {
  margin: -7px;
}

::ng-deep .highlight-song {
  background-color: #b3e5fc;
}

::ng-deep .row-cursor:hover {
  cursor: pointer;
}
