:host {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: 56px;
  align-items: center;
}
