<div class="left">
  <div class="countdown">
    <san-countdown></san-countdown>
  </div>
  <san-polls-table
    [rows]="pollsTableData"
    [isLoading]="pollsTableLoader"
    (pagination)="pollsTablePagination($event)"
  ></san-polls-table>
</div>
<mat-divider [vertical]="true"></mat-divider>
<div class="right">
  <div class="polls-results-block">
    <san-short-history-table></san-short-history-table>
  </div>
  <mat-divider></mat-divider>
  <div class="add-song-block">
    <san-add-song></san-add-song>
  </div>
</div>
