<div class="left">
  <div class="countdown">
    <san-countdown
      [endDate]="activePollEndDate"
      [activePollName]="activePollName"
      [activePollType]="activePollType"
    ></san-countdown>
  </div>
  <san-polls-table
    [rows]="pollsTableData"
    [isLoading]="isTableLoading"
    [currentUser]="currentUser"
    [isNoMoreResult]="isNoMoreTableResult"
    (pagination)="pollsTablePagination($event)"
    (vote)="openGiveVoiceDialog($event)"
  ></san-polls-table>
</div>
<mat-divider [vertical]="true"></mat-divider>
<div class="right">
  <div class="polls-results-block">
    <san-short-history-table></san-short-history-table>
  </div>
  <mat-divider></mat-divider>
  <div class="add-song-block">
    <san-add-song [activePollID]="activePollID" [userData]="currentUser" (addSong)="addSong($event)"></san-add-song>
  </div>
</div>
