<div class="left">
  <div class="countdown">
    <san-countdown
      [endDate]="activePollEndDate"
      [activePollName]="activePollName"
      [activePollType]="activePollType"
    ></san-countdown>
  </div>
  <div satPopoverAnchor #anchor="satPopoverAnchor" (click)="anchor.popover.toggle()">
    <span class="material-icons info">info</span>
  </div>
  <sat-popover [anchor]="anchor" hasBackdrop verticalAlign="center" horizontalAlign="center">
    <p class="popover-text">
      Ваши песни выделены цветом:
      <span class="song-color"></span>
    </p>
  </sat-popover>
  <san-polls-table
    [rows]="pollsTableData"
    [isLoading]="isTableLoading"
    [currentUser]="currentUser"
    [isNoMoreResult]="isNoMoreTableResult"
    (pagination)="pollsTablePagination($event)"
    (vote)="openGiveVoiceDialog($event)"
  ></san-polls-table>
</div>
<mat-divider [vertical]="true"></mat-divider>
<div class="right">
  <div class="polls-results-block">
    <san-short-history-table [songData]="lastArchivedHistoryData"></san-short-history-table>
  </div>
  <mat-divider></mat-divider>
  <div class="add-song-block">
    <san-add-song [activePollID]="activePollID" [userData]="currentUser" (addSong)="addSong($event)"></san-add-song>
  </div>
</div>
