.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-form-field {
  width: 70%;
}
.mat-expansion-panel {
  box-shadow: none;
}

.mat-expansion-panel-header {
  flex-direction: row-reverse;
}

mat-panel-title {
  padding-left: 15px;
}

.comments-title {
  margin-top: 15px;
  margin-bottom: 40px;
  text-align: left;
}

ul {
  list-style: none;
  text-align: left;

  li {
    margin-bottom: 20px;
  }
}

.comments-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.user-name {
  font-weight: bold;
  margin-right: 20px;
  margin-bottom: 5px;
}

.comments-footer {
  display: flex;
  flex-direction: row;
}
