:host {
  width: 100%;
}

.container {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  text-align: left;
  padding: 15px;
}

.my-history-title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;
}

.table-style {
  background: unset !important;
  box-shadow: unset !important;
}

@media screen and (max-width: 825px) {
  .container {
    padding: 0px;
  }
}

.text-1 {
  text-align: center;
}
