<div class="container">
  <p class="faq-section-title">Личный кабинет</p>
  <span class="material-icons">how_to_reg</span>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="expansion-panel-header">
        <mat-panel-title class="expansion-panel-title">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="expansion-panel-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolore illo natus nostrum odit, porro!</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="expansion-panel-header">
        <mat-panel-title class="expansion-panel-title">
          Lorem ipsum dolor sit amet, consectetur?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="expansion-panel-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae consequatur dignissimos ex excepturi, expedita fuga hic impedit incidunt inventore itaque laboriosam nemo nostrum officiis quasi rerum temporibus vero voluptatibus.</p>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="faq-section-title">Голосование</p>
  <span class="material-icons">how_to_vote</span>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="expansion-panel-header">
        <mat-panel-title class="expansion-panel-title">
          Lorem ipsum dolor sit amet, consectetur adipisicin?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="expansion-panel-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eligendi ipsa, nostrum officia pariatur porro!</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="expansion-panel-header">
        <mat-panel-title class="expansion-panel-title">
          Lorem ipsum dolor sit amet, consectetur?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="expansion-panel-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eligendi ipsa, nostrum officia pariatur porro!</p>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="faq-section-title">Добавить песню</p>
  <span class="material-icons">album</span>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="expansion-panel-header">
        <mat-panel-title class="expansion-panel-title">
          Lorem ipsum dolor sit amet, consectetur adipisicin?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="expansion-panel-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eligendi ipsa, nostrum officia pariatur porro!</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="expansion-panel-header">
        <mat-panel-title class="expansion-panel-title">
          Lorem ipsum dolor sit amet, consectetur?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="expansion-panel-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eligendi ipsa, nostrum officia pariatur porro!</p>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="faq-section-title">Баланс голосов</p>
  <span class="material-icons">account_balance_wallet</span>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="expansion-panel-header">
        <mat-panel-title class="expansion-panel-title">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="expansion-panel-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eligendi ipsa, nostrum officia pariatur porro!</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="expansion-panel-header">
        <mat-panel-title class="expansion-panel-title">
          Lorem ipsum dolor sit amet, consectetur adipisicing?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="expansion-panel-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut culpa cumque deleniti distinctio eaque eos error esse excepturi expedita fuga id, magni maiores neque quae voluptatem voluptatibus.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
