<div class="container">
  <div class="data-container">
    <div class="title">
      Пользователи
    </div>
    <mat-divider></mat-divider>
    <div class="info">
      <div class="total-info brown">
        <div class="text">
          <span>Всего</span>
        </div>
        <hr />
        <div class="number">{{ data?.totalUsers }}</div>
      </div>
      <div class="total-info brown">
        <div class="text">
          <span>Сегодня</span>
        </div>
        <hr />
        <div class="number">+{{ data?.totalUsersToday }}</div>
      </div>
    </div>
  </div>
  <div class="data-container">
    <div class="title">
      Транзакции
    </div>
    <mat-divider></mat-divider>
    <div class="info">
      <div class="total-info brown">
        <div class="text">
          <span>Всего</span>
        </div>
        <hr />
        <div class="number">{{ data?.totalTransactions }}</div>
      </div>
      <div class="total-info brown">
        <div class="text">
          <span>Сегодня</span>
        </div>
        <hr />
        <div class="number">+{{ data?.totalTransactionsToday }}</div>
      </div>
    </div>
  </div>
</div>
