<mat-card class="polls-history-card">
  <mat-card-title class="polls-history-title">История голосований</mat-card-title>
  <mat-card-content class="mat-card-content">
    <form class="form">
      <mat-form-field appearance="fill">
        <mat-label>Выбрать голосование</mat-label>
        <mat-select [(value)]="selectedPoll" (selectionChange)="selectionChange()">
          <mat-option [value]="option.id" *ngFor="let option of eventPoll">{{ option.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <div #pollsTable>
      <div class="container" *ngIf="isSomeSelected">
        <ngx-datatable
          class="material table-style"
          [style.height.px]="(windowSizeService.windowSizeChanged | async).height - 345"
          [rows]="pollsSongList"
          [columnMode]="'flex'"
          [headerHeight]="headerHeight"
          [rowHeight]="rowHeight"
          [loadingIndicator]="isLoading"
          [scrollbarV]="true"
          (scroll)="onScroll($event.offsetY)"
        >
          <ngx-datatable-column name="Место" prop="text" [flexGrow]="0.7">
            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span class="poll-link">{{ rowIndex + 1 }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Иполнитель" prop="contextText" [flexGrow]="1.5">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span class="poll-link">{{ row.songSinger }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Песня" prop="contextText" [flexGrow]="3">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span class="poll-link">{{ row.songName }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Кто исполнит" prop="contextText" [flexGrow]="1.5">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span class="poll-link">{{ row.coverSinger }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Голоса" prop="votesCount" [flexGrow]="0.7">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span class="poll-link">{{ row.voiceCount }}</span>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </mat-card-content>
</mat-card>
