<nav class="navbar-header">
  <nav>
    <a mat-button routerLink="/">
      <img src="assets/logo/logo-text.png" alt="SanSan" class="logo-mini" />
    </a>
    <a mat-button routerLinkActive="active-nav" routerLink="statistics">Статистика</a>
    <a mat-button routerLinkActive="active-nav" routerLink="users">Пользователи</a>
    <a mat-button routerLinkActive="active-nav" routerLink="polls">Голосования</a>
    <a mat-button routerLinkActive="active-nav" routerLink="transactions">Транзакции</a>
    <a mat-button target="_blank" routerLink="/api/swagger/api-docs">Swagger</a>
  </nav>
</nav>
