<div class="confirmation-card">
  <button mat-button color="primary" routerLink="/login" class="button-back">
    <span class="material-icons">keyboard_arrow_left</span> Назад
  </button>
  <div class="mat-card-content" *ngIf="!isSubmitted; else submitted">
    <h2>Повторно выслать ссылку для подтверждения email</h2>

    <form class="form" [formGroup]="form" (ngSubmit)="submitEmail()">
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" type="email" id="email" required formControlName="email" />
        <mat-error *ngIf="form.get('email').touched && form.get('email').invalid">
          <p *ngIf="form.get('email').errors.required">Введите email</p>
          <p *ngIf="form.get('email').errors.email">Неправильный формат email</p>
        </mat-error>
      </mat-form-field>
      <p class="confirmation-text">Введите ваш email и нажмите "Продолжить"</p>
      <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid">
        Продолжить
      </button>
    </form>
  </div>
</div>

<ng-template #submitted>
  <div>
    <div class="mat-card-content">
      <h3>На ваш email выслана ссылка для подтверждения</h3>
    </div>
  </div>
</ng-template>
