<div class="container" *ngIf="activePollType === 'timer'; else pollEventName">
  <h1>До окончания голосования осталось:</h1>
  <div
    class="countdown"
    simpleCountdown
    [dateTo]="dateToNumber"
    [endMessage]="endMessage"
    [language]="'ru'"
    [styles]="
    '
        font-size: 28px;
        text-align: center;
        color: #FFF;
        background-color: #3F51B5;
        padding: 18px 13px;
        font-weight: bold;
        min-width: 40px;
        margin: 0 1px;
      '
  "
  >
  </div>
</div>
<ng-template #pollEventName>
  <h1>{{activePollName}}</h1>
</ng-template>
