:host {
  width: 100%;
}

.poll-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto;
  padding: 25px;
  max-width: 800px;
  flex: 1 0 auto;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  flex-wrap: wrap;
}

.polls-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 80px;
  border-radius: 5px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  background-color: #3f51b5;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 825px) {
  .polls-number {
    margin: unset;
  }

  .poll-card {
    margin: 0 auto;
  }
}

.card-content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.polls-count {
  padding-left: 20px;
  font-size: 23px;
  font-style: italic;
}

.additional-info {
  margin: 25px auto;
}

.poll-likes {
  display: flex;
  align-self: flex-end;
  margin-bottom: 30px;
}

.comments {
  display: flex;
  align-self: flex-start;
  width: 100%;
}

.vote-btn {
  margin-bottom: 30px;
}
