<mat-card class="poll-card" *ngIf="currentSong as poll">
  <div class="card-header">
    <div class="card-header-left">
      <p>
        Композиция: <strong>{{ poll.songName }}</strong>
      </p>
      <p>
        Исполнитлель: <strong>{{ poll.songSinger }}</strong>
      </p>
      <p>
        Кто будет петь: <strong>{{ poll.coverSinger }}</strong>
      </p>
    </div>
    <div class="card-header-right">
      <p>
        Кто добавил: <strong>{{ poll.user.username }}</strong>
      </p>
      <p>
        Место в рейтинге: <strong>{{ poll.ratingPosition }}</strong>
      </p>
      <p>
        Дата добавления: <strong>{{ poll.createdAt | date: 'dd.MM.yyyy' }}</strong>
      </p>
    </div>
  </div>
  <mat-card-content class="card-content">
    <div class="polls-number">
      Колличество голосов: <span class="polls-count">{{ poll.voiceCount }}</span>
    </div>
    <div class="additional-info">
      <h3>Дополнительная Информация:</h3>
      <p>
        {{ poll.additionalTextInfo }}
      </p>
    </div>
    <button mat-raised-button color="accent" class="vote-btn" (click)="openDialog()">Проголосовать</button>
    <div class="poll-likes">
      <san-like></san-like>
    </div>
    <div class="comments">
      <mat-divider class="comments-divider"></mat-divider>
      <san-comments></san-comments>
    </div>
  </mat-card-content>
</mat-card>
