<div class="container">
  <div class="likes">
    <button
      mat-button
      class="basic-thumb"
      (click)="setLike()"
      [disabled]="!isAuth"
      [class.pressed-like]="likeStatus === likeEnumStatus.like"
      [class.isSmall]="isSmall"
    >
      <mat-icon [class.thumb_up_alt]="isAuth">thumb_up_alt</mat-icon>
      {{ like }}
    </button>
    <button
      mat-button
      class="basic-thumb"
      (click)="setDislike()"
      [disabled]="!isAuth"
      [class.pressed-dislike]="likeStatus === likeEnumStatus.dislike"
      [class.isSmall]="isSmall"
    >
      <mat-icon [class.thumb_down_alt]="isAuth">thumb_down_alt</mat-icon>
      {{ dislike }}
    </button>
  </div>
</div>
