:host {
  display: flex;
  align-self: flex-end;
}
.likes {
  .basic-thumb {
    color: #8b8e8b;
  }
  button {
    &:active .thumb_up_alt {
      color: #3f51b5;
    }
    &:active .thumb_down_alt {
      color: crimson;
    }
  }
  .pressed-like {
    color: #3f51b5;
  }

  .pressed-dislike {
    color: crimson;
  }
}
