<mat-drawer-container class="profile-container">
  <mat-drawer mode="side" opened>
    <mat-button-toggle-group class="profile-nav">
      <mat-button-toggle
        routerLinkActive="mat-button-toggle-checked"
        [routerLink]="['/profile']"
        [routerLinkActiveOptions]="{ exact: true }"
        >Профиль</mat-button-toggle
      >
      <mat-button-toggle routerLinkActive="mat-button-toggle-checked" [routerLink]="['/profile', 'my-voices']"
        >Мои голоса</mat-button-toggle
      >
      <mat-button-toggle routerLinkActive="mat-button-toggle-checked" [routerLink]="['/profile', 'voice-history']"
        >История голосов</mat-button-toggle
      >
      <mat-button-toggle routerLinkActive="mat-button-toggle-checked" [routerLink]="['/profile', 'history']"
        >Мои песни</mat-button-toggle
      >
      <mat-button-toggle routerLinkActive="mat-button-toggle-checked" [routerLink]="['/profile', 'polls-history']"
        >История голосований</mat-button-toggle
      >
      <mat-button-toggle routerLinkActive="mat-button-toggle-checked" [routerLink]="['/profile', 'password']"
        >Изменить пароль</mat-button-toggle
      >
      <mat-button-toggle routerLinkActive="mat-button-toggle-checked" [routerLink]="['/profile', 'refill']"
        >Пополнение</mat-button-toggle
      >
    </mat-button-toggle-group>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
