:host {
  display: flex;
  justify-content: center;
}

.profile-container {
  width: 1000px;
  height: 500px;
  margin: 30px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.profile-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: unset;
  border-radius: unset;
  .button-toggle {
    border-left: none;
  }
}
