<mat-card class="password-card">
  <mat-card-title>Изменить пароль</mat-card-title>
  <mat-card-content class="mat-card-content">
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Текущий пароль" id="oldPassword" formControlName="oldPassword" />
        <mat-error *ngIf="form.get('oldPassword').touched && form.get('oldPassword').invalid" class="validation">
          <p *ngIf="form.get('oldPassword').errors.required">Введите текущий пароль</p>
          <p *ngIf="form.get('oldPassword').errors.minlength">
            Колличество символов должно быть не менее {{ form.get('oldPassword').errors.minlength.requiredLength }}. Вы
            ввели {{ form.get('oldPassword').errors.minlength.actualLength }}
          </p>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Новый пароль"
          id="newPassword"
          formControlName="newPassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('newPassword').touched && form.get('newPassword').invalid" class="validation">
          <p *ngIf="form.get('newPassword').errors.required">Введите новый пароль</p>
          <p *ngIf="form.get('newPassword').errors.minlength">
            Колличество символов должно быть не менее {{ form.get('newPassword').errors.minlength.requiredLength }}. Вы
            ввели {{ form.get('newPassword').errors.minlength.actualLength }}
          </p>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Повторить пароль"
          id="confirmPassword"
          formControlName="confirmPassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error
          *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').invalid"
          class="validation"
        >
          <div *ngIf="form.get('confirmPassword').errors.required">Введите новый пароль</div>
          <div *ngIf="form.get('confirmPassword').errors.mustMatch">
            Введённые пароли не совпадают. Попробуйте ещё раз.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid">
          Изменить пароль
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
