<mat-card class="password-card">
  <mat-card-title>Изменить пароль</mat-card-title>
  <mat-card-content class="mat-card-content">
    <form class="form" [formGroup]="form" #formDirective="ngForm" (ngSubmit)="submit(formDirective)">
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Текущий пароль" id="oldPassword" formControlName="oldPassword" />
        <mat-error>{{ errors.oldPassword | error: form.get('oldPassword').errors }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Новый пароль"
          id="newPassword"
          formControlName="newPassword"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error>{{ errors.newPassword | error: form.get('newPassword').errors }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Повторить пароль"
          id="confirmPassword"
          formControlName="confirmPassword"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error>{{ errors.confirmPassword | error: form.get('confirmPassword').errors }}</mat-error>
      </mat-form-field>

      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid">
          Изменить пароль
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
