:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background-color: #c5cae9;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
  margin-top: 40px;
}

.table-container {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  flex-direction: column;
  max-width: 1000px;
  max-height: 1000px;
}

.action-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  button {
    margin-bottom: 15px;
    margin-left: 10px;
  }
}

::ng-deep .setting-column {
  padding: 0 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
